[submodule "Axle/vendor/spdlog"]
	path = Axle/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Axle/vendor/doctest"]
	path = Axle/vendor/doctest
	url = https://github.com/doctest/doctest
[submodule "Axle/vendor/GLFW"]
	path = Axle/vendor/GLFW
	url = https://github.com/glfw/glfw
